/******************************************************
GENERAL
******************************************************/
*{
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}
a:hover {
	color: inherit;

}
/******************************************************
HEADER
******************************************************/


header {
	height: 100vh;
	width: 100vw;
	margin: 0;
	background-image: url(../img/venice.jpg) ;
	background-repeat:no-repeat;
    background-size:cover;

}

#title {
	display: inline-block;
	margin-top: 30vh;
	color: white;
	border-top: 1px solid white;
	border-bottom:1px solid white;
}

#nav {

	display: block;
	padding: 5vh 0;
}

#nav li {
	display: inline;
	color: white;
	padding: 0 15px;

}
/******************************************************
ABOUT
******************************************************/

#about {
	height: 75vh;
	width: 100vw;
	background-color: #eff0f2;
}

/******************************************************
FOOD-GALLEY
******************************************************/
#food-gallery {
	height: 95vh;
	width: 100vw;
	background-image: url(../img/venice.jpg) ;
	background-repeat:no-repeat;
    background-size:cover;

}

/******************************************************
MENUS
******************************************************/


/******************************************************
RESERVATIONS
******************************************************/
/******************************************************
REVIEWS
******************************************************/


/******************************************************
FOOTER
******************************************************/
